.UpArrow
{
    width: 0; 
    height: 0; 
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;  
    border-bottom: 12px solid $selection-color;
    margin: 5px 0px 0px 5px;
}

.UpArrow:hover
{
    cursor: pointer;
}