.FullResponse {
    border-color: var(--flow-element-border-color);
    background-color: var(--flow-element-background-color);
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    padding: 12px 22px 12px 22px;
    overflow: hidden;
    margin-bottom: 15px;
    font-family: var(--gxcf-font-family);
  }

  .FullResponseCommands {
    float: right;
    cursor: pointer;
  }

  .FullResponseTitle {
    background-color: var(--flow-element-background-color);
    border: none;
    float: left;
    color: var(--elements-title-font-color);
    font-size: var(--normal-font-size);
    font-weight: bold;
    font-family: var(--gxcf-font-family);
  }

.HintBlock
{
  float:right;
}

.ConditionLabel
{
  float:left;
  cleaR:left;
}

.ConditionMargin
{
  margin-top: 15px;
}

.ResponseSelect
{
  margin-top: 5px;
  border: none;
  height: 24px;
  width: 100%;
  font-family: var(--gxcf-font-family);
}

.ResponseProperty
{
  margin-top: 5px;
}