.FullResponse {
    border-color: var(--gray-01r);
    background-color: var(--gray-01);
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    padding: 12px 22px 12px 22px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .FullResponseCommands {
    float: right;
    cursor: pointer;
  }

.FullResponseTitle {
  background-color: var(--gray-01);
  border: none;
  float: left;
}

.HintBlock
{
  float:right;
}

.ConditionLabel
{
  float:left;
  cleaR:left;
}

.ConditionMargin
{
  margin-top: 15px;
}

.ResponseSelect
{
  margin-top: 5px;
  border: none;
  height: 24px;
  width: 100%;
  background-color: var(--gray-01);
}

.ResponseProperty
{
  margin-top: 5px;
}