.FlowSummary
{    
    border-radius: 1px;
    display:block;
    //margin: 20px 0px 20px 0px;
    padding: 8px 12px 8px 12px;
    margin:auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 91%;
    overflow: hidden;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

.FlowSummary:hover
{
    transform: scale(1.05);
}

.ActiveContent
{
    background-color: $active-content-background;
}

.NoActiveContent
{
    background-color: $element-background-color;
}