.FlowSummary
{    
    border-radius: 1px;
    display:block;
    //margin: 20px 0px 20px 0px;
    padding: 8px 12px 8px 12px;
    margin:auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 91%;
    overflow: hidden;
    -webkit-animation: $animation-time;
    animation: $animation-time;
}

.FlowSummary:hover
{
    transform: $animation-scale-size;
}

.ActiveContent
{
    background-color: $active-content-background;
}

.NoActiveContent
{
    background-color: $element-background-color;
}