.FlowSummary
{
    background-color: $element-background-color;
    border-radius: 4px;
    display:block;
    //margin: 20px 0px 20px 0px;
    padding: 12px 22px 12px 22px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 91%;
    height: 5%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.FlowSummary:hover
{
    transform: scale(1.05);
}

.FlowDownArrow
{
    position: relative;
    float: right;
}