.FullUserInput
{
    border-color: $user-input-border-color;
    background-color: $flow-element-background-color;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    padding: 12px 22px 12px 22px;
    overflow:hidden;
    margin-bottom: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;  
}

.UserInputTitle
{    
    background-color: $flow-element-background-color;
    border:none;
    color: $elements-title-font-color;
    font-weight: bold;
    float:left;
}

.ExpandUserInputDownArrow
{
    float:right;
}

.DataType
{
    color: $elements-header-font-color;
    clear: both;
    margin-top: 5px;
}

.SwitchIconOn
{
    content: $switch-icon-on;
    vertical-align: bottom;
}

.SwitchIconOff
{
    content: $switch-icon-on;
    vertical-align: bottom;
}

.TextMode
{
    color: $user-input-guides;
    margin-left: 5px;
}

.UserInputPart {
    margin-top: 15px;
    outline: none;
}

.UserInputPart::-webkit-details-marker {
    display: none
}

.UserInputPart::before {
    content: $switch-userinputpart-off;
    color: transparent;
    padding:4px;
}

details[open] .UserInputPart::before {
    content: $switch-userinputpart-on;
    color: transparent;
    padding:4px;
}

.UserInputPartSummaryText
{
    vertical-align: top;
    font-size: $user-input-part-header-size;
    color: $elements-header-font-color;
}

.UserInputHints
{
    vertical-align: top;
}

.ContainerRequiredConditon
{
    margin-top: 20px;
    clear:both;
    line-height: 24px;
    background-color:$add-element-background-color;
}

.InputRequiredCondition
{
    border:none;
    height: 24px;
    width: 92%;
}

.LabelRequiredConditon
{
    color: $add-element-font-color;    
    height: 24px;
    padding: 0px 5px 0px 5px;
}

.ContainerForUserInput
{
    margin-top: 20px;
    clear:both;
    line-height: 24px;   
}

.UserInputLine
{
    border:none;
    height: 24px;
    width: 100%;
    background-color:$add-element-background-color;    
}

.SelectVP
{
    cursor: pointer;
}