@mixin vertical-overflow-element ($max-height){
    overflow-y: auto;
    overflow-x: hidden;
    max-height: $max-height;
}
  
@mixin gxcf-scrollbar{
    width: var(--border-width-lg);
    margin-left: var(--spacing-comp-01);
}
  
@mixin gxcf-scrollbar-track{
    -webkit-box-shadow: var(--box-shadow-values) var(--gray-01);
    box-shadow: var(--box-shadow-values) var(--gray-01);
    border-radius: var(--border-radius-md);
}
  
@mixin gxcf-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: var(--box-shadow-values) var(--gray-08);
    box-shadow: var(--box-shadow-values) var(--gray-08);
}