:root{
    --main-color: black;
    --contrast-font-color: white;
    --contrast-color: #d8d8d8;
    --custom-light-gray: #f5f5f5;
    --custom-light-gray-2: #f5f5f5;
    --custom-light-gray-3: #fbfbfb;
    --custom-dark-gray: #979797;
    --custom-dark-gray-2: #979696;
    --custom-dark-gray-3: #c8c8c8;
    --custom-dark-gray-4: #9b9b9b;
    --highlight-color: #4A4A4A;
    --highlight-color-2: #0077DE;
    
    --common-action-background: transparent;
    --elements-header-font-color: #191919;
    
    --title-color:  var(--highlight-color);
    --selection-font-color:  var(--contrast-font-color);
    --text-color:  var(--main-color);
    --selection-color: var(--main-color);
    --action-font-color:  var(--main-color);
    --background-color:  var(--contrast-color);
    --element-background-color:  var(--custom-light-gray);
    --flow-element-background-color:  var(--custom-light-gray-2);
    --flow-element-border-color:  var(--custom-light-gray-2);
    --conversational-object-background-color:  var(--contrast-color);
    --add-element-font-color:  var(--contrast-color);
    --user-input-border-color:  var(--contrast-color);
    --inelement-select-color:  var(--highlight-color);
    --add-element-background-color:  var(--contrast-font-color);
    --conversational-object-select-color:  var(--contrast-font-color);
    --collection-background-color:  var(--contrast-font-color);
    --welcome-font-color:  var(--contrast-font-color);
    --active-content-background:  var(--contrast-font-color);
    --elements-messages-font-color:  var(--main-color);
    --arrow-color:  var(--main-color);
    --elements-title-font-color:  var(--main-color);
    --action-background-color:  var(--custom-light-gray-3);
    --separator-line-color:  var(--custom-dark-gray);
    --action-border-color:  var(--custom-dark-gray-2);
    --select-border-color:  var(--custom-dark-gray-3);
    --hint-color:  var(--custom-dark-gray-4);
    --welcome-color:  var(--highlight-color-2);
    --user-input-guides:  var(--highlight-color-2);
}