$main-color: black;
$contrast-font-color: white;
$contrast-color: #d8d8d8;
$custom-light-gray: #f5f5f5;
$custom-light-gray-2: #f5f5f5;
$custom-light-gray-3: #fbfbfb;
$custom-dark-gray: #979797;
$custom-dark-gray-2: #979696;
$custom-dark-gray-3: #c8c8c8;
$custom-dark-gray-4: #9b9b9b;
$highlight-color: #4A4A4A;
$highlight-color-2: #0077DE;
$common-action-background: transparent;
$elements-header-font-color: #191919;

$title-color: $highlight-color;
$selection-font-color: $contrast-font-color;
$text-color: $main-color;
$selection-color:$main-color;
$action-font-color: $main-color;
$background-color: $contrast-color;
$element-background-color: $custom-light-gray;
$flow-element-background-color: $custom-light-gray-2;
$flow-element-border-color: $custom-light-gray-2;
$conversational-object-background-color: $contrast-color;
$add-element-font-color: $contrast-color;
$user-input-border-color: $contrast-color;
$inelement-select-color: $highlight-color;
$add-element-background-color: $contrast-font-color;
$conversational-object-select-color: $contrast-font-color;
$collection-background-color: $contrast-font-color;
$welcome-font-color: $contrast-font-color;
$active-content-background: $contrast-font-color;
$elements-messages-font-color: $main-color;
$arrow-color: $main-color;
$elements-title-font-color: $main-color;
$action-background-color: $custom-light-gray-3;
$separator-line-color: $custom-dark-gray;
$action-border-color: $custom-dark-gray-2;
$select-border-color: $custom-dark-gray-3;
$hint-color: $custom-dark-gray-4;
$welcome-color: $highlight-color-2;
$user-input-guides: $highlight-color-2;