:root
{
    //SVG icons:
    --dot-icon: url("assets/images/dot.svg");
    --switch-icon-on: url("assets/images/switchOn.svg");
    --switch-icon-off: url("assets/images/switchOff.svg");
    --switch-userinputpart-off: url("assets/images/minus.svg");
    --switch-userinputpart-on: url("assets/images/plus.svg");
    --procedure-icon: url("assets/images/procedure.svg");
    --web-panel-icon: url("assets/images/webPanel.svg");
    --sd-panel-icon: url("assets/images/sdPanel.svg");
    --transaction-icon: url("assets/images/transaction.svg");
    --data-provider-icon: url("assets/images/dataProvider.svg");

    //Icons sizes
    --medium-icon-width: 16px;
    --medium-icon-height: 16px;
    --long-icon-width: 24px;
    --long-icon-height: 24px;
}
