:root
{
    //SVG icons:
    --add-icon: url("dist/assets/images/add.svg");
    --alert-icon: url("dist/assets/images/alert.svg");
    --arrow-down-icon: url("dist/assets/images/chevronDown.svg");
    --arrow-up-icon: url("dist/assets/images/chevronUp.svg");
    --close-icon: url("dist/assets/images/close.svg");
    --delete-icon: url("dist/assets/images/delete.svg");
    --dot-icon: url("dist/assets/images/dot.svg");
    --edit-icon: url("dist/assets/images/edit.svg");
    --error-small-icon: url("dist/assets/images/errorSmall.svg");
    --switch-icon-on: url("dist/assets/images/switchOn.svg");
    --switch-icon-off: url("dist/assets/images/switchOff.svg");
    --switch-userinputpart-off: url("dist/assets/images/minus.svg");
    --switch-userinputpart-on: url("dist/assets/images/plus.svg");
    --procedure-icon: url("dist/assets/images/procedure.svg");
    --web-panel-icon: url("dist/assets/images/webPanel.svg");
    --sd-panel-icon: url("dist/assets/images/sdPanel.svg");
    --transaction-icon: url("dist/assets/images/transaction.svg");
    --data-provider-icon: url("dist/assets/images/dataProvider.svg");
    --search-icon: url("");

    //Icons sizes
    --medium-icon-width: 16px;
    --medium-icon-height: 16px;
    --long-icon-width: 24px;
    --long-icon-height: 24px;
}
