$selection-color: black;
$selection-font-color: white;
$text-color: #000000;
$title-color: #4A4A4A;
$background-color: rgb(216, 216, 216);
$element-background-color: rgb(245, 245, 245);
$flow-element-background-color: #f8f8f8;
$flow-element-border-color: #f8f8f8;
$inelement-select-color: rgb(74, 74, 74);
$action-font-color: rgb(0, 0, 0);;
$separator-line-color: #979797;
$add-element-background-color: white;
$add-element-font-color: #D8D8D8;
$conversational-object-background-color: #D8D8D8;
$conversational-object-select-color: white;
$action-border-color: rgb(151, 150, 150);
$action-background-color: rgb(251, 251, 251);
$select-border-color: #c8c8c8;
$active-content-background: white;
$common-action-background: transparent;
$collection-background-color: white;
$common-font-size: 12px;
$hint-color: rgb(155, 155, 155);
$hint-font-size: 10px;
$arrow-color: black;
$elements-header-font-color: #191919;
$add-element-font-size: 16px;
$elements-title-font-color: black;
$elements-messages-font-color: black;
$welcome-font-color: white;
$welcome-color: #0077DE;
$switch-icon-on: url("src/assets/images/switch.png");
$switch-userinputpart-off: url("src/assets/images/minus.png");
$switch-userinputpart-on: url("src/assets/images/plus.png");
$user-input-guides: #0077de;
$user-input-part-header-size: 11px;
$user-input-border-color: #d8d8d8;
$animation-time: fadeIn 0.3s;
$animation-scale-size: scale(1.05);

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}