.ConfirmationModal
{
    top: calc(var(--modal-margin) - 125px);
    left: calc(var(--modal-margin) - 250px);
    width: 500px;
    height: 125px;
    position:fixed;
    background-color: var(--confirmation-background-color);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 3px 3px -2px rgba(0, 0, 0, 0.12),
  0px 1px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.ConfirmationContent
{
    padding: 10px;
}

.ConfirmationTitle
{
    height: 24px;
    background-color: var(--confirmation-header-background-color);
    color: var(--confirmation-header-font-color);
    padding: 6px 0px 0px 6px;
}

.ConfirmationMessage
{
    color: var(--main-color);
}

.ButtonPlaceHolder
{
    bottom: 10px;
    position: absolute;
    width: 95%;
}

.ConfirmationButtonYes
{
    background-color: var(--confirmation-button-color2);
}

.ConfirmationButtonNo
{
    background-color: var(--confirmation-button-color);
}

.ConfirmationButton
{
    border: transparent;
    border-radius: 3px;
    float: right;
    margin-left: 10px;
    color: var(--confirmation-button-font-color);    
    height: 24px;
    width: 50px;
}