.DownArrow
{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;  
    border-top: 10px solid #007ec1;
    float:right;
    position: relative;
    margin: 5px 0px 0px 5px;
}