.CompactSelect {
  text-align: center;
  border-radius: 12px;
  height: 33%;
  padding: 4px 5px 4px 5px;
  font-family: "Source Sans Pro", sans-serif;
  border-style: solid;
  border-color: var(--gray-04);
  border-width: 1px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--wide-font-weight);
}


.FullSelect {
    text-align: left;
    padding-left: 5px;
    line-height: 24px;
    font-size: var(--small2-font-size);
    color: var(--color-primary-active);
    font-weight: var(--wide-font-weight);
}

.ExtendedSelect
{
    background-color: var(--color-background);
    line-height: 24px;
    padding-left: 5px;
}

.Select
{
    font-family: var(--gxcf-font-family);
}

.Select:hover {
  cursor: pointer;
}

.SelectIconHidden
{
    display:none;
}

.SelectIcon
{
    display:inline-block;
    width: var(--medium-icon-width);
    height:var(--medium-icon-height);
    line-height: var(--medium-icon-height);
    vertical-align: middle;
    margin-right: 2px;    
}

.SelectText
{
    vertical-align: top;
}

.Procedure
{
    content: var(--procedure-icon);
}

.WebComponent
{
    content: var(--web-panel-icon);
}

.SDPanel
{
    content: var(--sd-panel-icon);
}

.Transaction
{
    content: var(--transaction-icon);
}

.DataProvider
{
    content: var(--data-provider-icon);
}