.Select {
  background-color: var(--common-action-background);
  color: var(--inelement-select-color);
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--select-border-color);
  border-width: 1px;
  width: 100%;
  height: 33%;
  padding: 4px 5px 4px 5px;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Select:hover {
  cursor: pointer;
}

.SelectIconHidden
{
    display:none;
}

.SelectIcon
{
    display:inline-block;
    width: var(--medium-icon-width);
    height:var(--medium-icon-height);
    line-height: var(--medium-icon-height);
    vertical-align: middle;
    margin-right: 2px;
}

.Procedure
{
    content: var(--procedure-icon);
}

.WebPanel
{
    content: var(--web-panel-icon);
}

.SDPanel
{
    content: var(--sd-panel-icon);
}

.Transaction
{
    content: var(--transaction-icon);
}

.DataProvider
{
    content: var(--data-provider-icon);
}
