.CompactSelect {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--wide-font-weight);
  font-style: italic;
}


.FullSelect {
    text-align: left;
    line-height: 24px;
    color: var(--color-primary-active);
    font-weight: var(--wide-font-weight);
}

.ExtendedSelect
{
    background-color: var(--color-background);
    line-height: 24px;
}

.Select
{
    font-family: var(--gxcf-font-family);
}

.Select:hover {
  cursor: pointer;
}

.SelectIconHidden
{
    display:none;
}

.SelectIcon
{
    display:inline-block;
    width: var(--medium-icon-width);
    height:var(--medium-icon-height);
    line-height: var(--medium-icon-height);
    vertical-align: middle;
}

.SelectText
{
    vertical-align: top;
}

.Procedure
{
    content: var(--procedure-icon);
}

.WebComponent
{
    content: var(--web-panel-icon);
}

.SDPanel
{
    content: var(--sd-panel-icon);
}

.Transaction
{
    content: var(--transaction-icon);
}

.DataProvider
{
    content: var(--data-provider-icon);
}