.SummaryDescription {
  font-style: italic;
  font-weight: 400;
  text-align: left;
  clear: both;
  background-color: var(--common-action-background);
  border: none;
  display: block;
  width: 59%;
  font-family: var(--gxcf-font-family);
  font-size: var(--normal-font-size);
}