.SummaryDescription
{
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    clear: both;
    background-color: $element-background-color;
    border:none;
    display:block;
    width: 59%;
}