.SummaryDescription
{
    font-style: italic;
    font-size: $common-font-size;
    font-weight: 400;
    text-align: left;
    clear: both;
    background-color: $common-action-background;
    border:none;
    display:block;
    width: 59%;
}