.FlowFull {
  background-color: var(--color-background);
  display: block;
  margin: var(--small-margin) 0px var(--medium-margin) 0px;
  margin-bottom: 20px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  padding-bottom: var(--small-margin);
  border-top: 3px solid var(--color-primary-active);
}

.Content
{
  padding-bottom: var(--small-margin);  
  margin-right: var(--small-margin);  
  padding-top: var(--small-margin);  
}

.TabFullFlowContent {
  margin-left: var(--medium-margin);
}

.FullFlowContent {
  background-color: var(--color-background);
}

.FullFlowContentUserInputs {
  margin-left: var(--small-margin);
}

.FullFlowContentResponses {
  margin-left: 50px;
}

.Separator {
  margin: 0px;
  border-top: 2px dashed var(--separator-line-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.FlowUpArrow {
  float: right;
  position: relative;
}

.Hint {
  float: right;
}

.ElementsHeader {
  clear: both;
  font-weight: 400;
  margin-bottom: var(--small-margin);
}

.LeftTab {
  margin-left: var(--medium-margin);
}

.MinLeftTab{
  margin-left: 10px;
}


.CommandsContainer
{
  float: right;
  width: 38%;
}

.CommandPosition
{
  float: right;
}

.CustomSelectBoxing
{
  margin-right: 16px;
  margin-bottom: 5px;
}

.TriggersArrow
{
  float: right;
  cursor: pointer;
}

.TriggersContainer
{
  clear:both;  
}

.TriggersContainerBody
{
  background-color: var(--gray-01);
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  padding: 5px;
  border-color: var(--gray-04);
}


.DotPosition{
  float: left;
}