.AddObject {
  font-size: var(--normal-font-size);  
  clear: both;
  border-color: var(--gray-04);
  background-color: var(--color-background);
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  cursor: pointer;
  padding: 1px 0px 1px 5px;
  height: 24px;
  vertical-align: middle;
}

.AddObjectText {
  line-height: 24px;
  vertical-align: top;
}