.SummaryTitle
{
    color: $title-color;
    background-color: $common-action-background;
    font-size: $common-font-size;
    font-weight: bold;
    margin-bottom: 2px;
    float: left;
    border: none;
    text-align: left;
    width: 62%;
}

.FullTitle
{
    color: $title-color;
    background-color: $common-action-background;
    font-size: $common-font-size;
    font-weight: bold;
    margin-bottom: 2px;
    float: left;
    border: none;
    text-align: left;
    width: 62%;
}