.Hint
{
    font-size: $small-font-size;
    color: $hint-color;
    text-decoration: underline;
}

.Hint:hover
{
    cursor: help;
}

.ShowHint
{
    background-color: $element-background-color;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 0px 5px 0px 5px;
    float: right;
    z-index: -1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-size: $normal-font-size;
}

.HintTitle
{
    color: $title-color;
}

.HintDescription
{
    color: $action-font-color;
}

.CloseHint
{
    float:right;
    font-size: $normal-font-size;
    cursor: pointer;
}