.Hint {
  font-size: var(--small2-font-size);
  color: var(--hint-color);
  text-decoration: underline;
}

.Hint:hover {
  cursor: help;
}

.ShowHint {
  background-color: var(--element-background-color);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  z-index: 2;
  -webkit-animation: var(--animation-time-long);
  animation: var(--animation-time-long);
  font-size: var(--normal-font-size);
  position:fixed;
  top: var(--modal-margin);
  bottom: var(--modal-margin);
  right: var(--modal-margin);
  left: var(--modal-margin);
}

.HintTitle {
  color: var(--title-color);
}

.HintDescription {
  color: var(--action-font-color);
}

.CloseHint {
  float: right;
  font-size: var(--normal-font-size);
  cursor: pointer;
  width: var(--medium-icon-width);
  height: var(--medium-icon-height);
  content: var(--close-icon);
}
