.HideZone
{
    display: none;
}
.ShowZone
{
    display: block;
    text-align: center;
    color:  $selection-color;
    width: 8%;
    margin:auto;
    padding-left: 100px;
    padding-right: 100px;
}
.ActiveDropZone
{
    color: $selection-font-color;
    background-color:$selection-color;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 14px; 
    display: block;
    text-align: center;   
    width: 8%; 
    margin:auto;   
}