.CollapsedResponse {
  border-color: var(--gray-01);
  background-color: var(--gray-01);
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
  padding: 12px 12px 12px 12px;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  border-top: 3px solid var(--gray-01);
}

.CollapsedResponse:hover {
  border-top: 3px solid var(--color-primary-active);
}

.CollapsedResponseDownArrow {
  float: right;
  cursor: pointer;
}

.FirstResponseMessage
{
  float: left;
  clear: both;
  border: none;
  background-color: var(--gray-01);
  width: 95%;
}

.FirstResponseMessageNoTab {  
  margin-left: 14px;
}

.FirstResponseMessageTab
{
  margin-left: 28px;
}

.CollapsedResponseTitle {
  background-color: var(--gray-01);
  border: none;
  float: left;
  width: 90%;
}

.DotPosition
{
  float: left;
}

.ConditionHeader
{
  clear:both;
  margin-left: 14px;
  margin-bottom: 5px;;
}