.Search
{
    border-color: var(--action-border-color);
    background-color: var(--active-content-background);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;   
}

.SearchIconDiv
{
    width: 8%;
    display: inline-block;
    text-align: center;
}

.SearchIcon{
    vertical-align: middle;
}

.SearchText
{
    height: 22px;
    vertical-align: top;
    width: 92%;
    border:none;
    font-family: var(--gxcf-font-family);
    font-size: var(--small2-font-size);
    float:right;
}