.Search
{
    border-color: var(--action-border-color);
    background-color: var(--active-content-background);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;    
}

.SearchIcon
{
    vertical-align: middle;
    width: 9%;
    display: inline-block;
    margin-right: 1%;
}

.SearchText
{
    height: 24px;
    vertical-align: top;
    width: 90%;
    border:none;
    font-family: var(--gxcf-font-family);
    font-size: var(--small2-font-size);
    display: inline-block;    
}