.FlowFull
{
    background-color: $element-background-color;
    border-radius: 4px;
    display:block;
    margin: 20px 0px 20px 0px;
    padding-top: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.FullFlowContent
{
    margin: 0px 50px 0px 50px;
}

.FullFlowContentUserInputs
{
    margin: 0px 50px 0px 20px;
}

.Separator
{
    border-top: 2px dashed $separator-line-color;
    margin: 30px 0px 30px 0px;
}

.FlowUpArrow
{
    float: right;
    position: relative;
}

.AddFlowElement
{
    background-color: $add-element-background-color;
    border-radius: 2px;
    border-style: solid;
    border-color: $add-element-background-color;
    padding: 5px;
}

.AddFlowElement:hover
{
    cursor: pointer;
}

.AddElementText
{
    color: $add-element-font-color;
}

.Hint
{
    float: right;
}

.ElementsHeader
{
    clear:both;
    color: $title-color;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.LeftTab
{
    margin-left: 30px;
}