.FlowFull
{
    background-color: $element-background-color;
    border-radius: 4px;
    display:block;
    margin: 20px 0px 20px 0px;
    padding: 12px 0px 12px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 5%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.FullFlowContent
{
    margin: 0px 22px 0px 22px;
}

.Separator
{
    border-top: 2px dashed $separator-line-color;
    margin-top: 30px;
}

.FlowTitle
{
    font-weight: 600 !important;
    font-size: 24px !important;
}

.FlowUpArrow
{
    float: right;
    position: relative;
}