.ContainerConditon {
  margin-top: 20px;
  clear: both;
  line-height: 24px;
  background-color: var(--color-background);
}

.InputCondition {
  border: none;
  height: 24px;
  width: 92%;
  background-color: var(--color-background);
}

.LabelConditon {  
  height: 24px;
  padding: 0px 5px 0px 5px;
}