.FlowSummary {
  border-radius: 1px;
  display: block;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow: hidden;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  z-index: 1;
  display:block;
  clear: both;
  float: left;
  background-color: var(--color-background);
  border-left: 1px solid var(--gray-02);
  border-right: 1px solid var(--gray-02);
  border-bottom: 1px solid var(--gray-02);
  padding: var(--spacing-comp-01);
}

.FlowSummary:hover {
  border-top: 3px solid var(--color-primary-active)
}

.ActiveContent {
  border-top: 3px solid var(--color-primary-active)
}

.NoActiveContent {
  border-top: 3px solid var(--gray-02)
}

.SelectBoxing
{
  display: block;
  float: right;
  margin-right: 3%;
  margin-top: var(--spacing-comp-02);
}