.FlowSummary {
  border-radius: 1px;
  display: block;
  padding: 8px 12px 8px 12px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  z-index: 1;
}

.FlowSummary:hover {
  border-top: 3px solid var(--color-primary-active)
}

.ActiveContent {
  background-color: var(--color-background);
  border-top: 3px solid var(--color-primary-active)
}

.NoActiveContent {
  background-color: var(--gray-01);
  border-top: 3px solid var(--gray-01)
}

.SelectBoxing
{
  display: block;
  float: right;
  margin-right: 5%;
  
}

.NotEmptySelectBoxing{
  width: 32%;
}