.CollapsedUserInput {
  border-color: var(--gray-01);
  background-color: var(--gray-01);
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
  padding: 12px 12px 12px 12px;
  overflow: hidden;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  margin: var(--small-margin);
  border-top: 3px solid var(--gray-01);
}

.CollapsedUserInput:hover {
  border-top: 3px solid var(--color-primary-active);
}

.CollapsedUserInputDownArrow {
  float: right;
  cursor: pointer;
}

.FirstAskMessage {
  float: left;
  clear: both;
  border: none;
  background-color: var(--gray-01);
  width: 95%;
  margin-left: 14px;
}

.CollapsedTitle {
  background-color: var(--gray-01);
  border: none;
  width: 90%;
}

.CollapsedTitle:hover{
  cursor: pointer;
}

.DotPosition
{
  float: left;
}
