.CollapsedUserInput {
  border-color: var(--flow-element-border-color);
  background-color: var(--flow-element-background-color);
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
  padding: 12px 12px 12px 12px;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
}

.CollapsedUserInput:hover {
  transform: var(--animation-scale-size);
}

.CollapsedUserInputDownArrow {
  float: right;
}

.FirstAskMessage {
  float: left;
  clear: both;
  font-style: italic;
  color: var(--elements-messages-font-color);
  border: none;
  background-color: var(--flow-element-background-color);
  width: 95%;
  margin-left: 14px;
  font-family: var(--gxcf-font-family);
  font-size: var(--normal-font-size);
}

.CollapsedTitle {
  background-color: var(--flow-element-background-color);
  border: none;
  color: var(--elements-title-font-color);
  font-weight: bold;
  float: left;
  font-family: var(--gxcf-font-family);
  font-size: var(--normal-font-size);
}

.DotPosition
{
  float: left;
}
