body
{
    font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
}
.Welcome
{    
    width: 30%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.Title
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.Intro
{
    display:block;
}
a
{
    background-color: #007ec1;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    font-size:14px;
    margin: auto;
}