.AddElement {  
  content: var(--add-icon);
  width: var(--medium-icon-width);
  height: var(--medium-icon-height);
  vertical-align: middle;
  text-align: center;
  font-family: var(--gxcf-font-family);
}

.AddElement:hover {
  cursor: pointer;
}