.CommonTitle
{
  background-color: transparent;
  border: none;
}

.SummaryTitle {
  font-size: var(--small-font-size);
}

.FullTitle {
  font-size: var(--normal2-font-size);
  width: 60%;
}

.MinSummaryTitle
{
  font-size: var(--small-font-size);
  width: 35%;
}