.CollapsedUserInput
{
    border-color: $flow-element-border-color;
    background-color: $flow-element-background-color;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    padding: 12px 22px 12px 22px;
    overflow:hidden;
    margin-bottom: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;    
}

.CollapsedUserInput:hover
{
    transform: scale(1.04);
}

.CollapsedUserInputDownArrow
{
    float:right;
}

.FirstAskMessage
{
    float:left;
    clear:both;
    font-size: $common-font-size;
    font-style: italic;
    color: $elements-messages-font-color;
    border: none;
    background-color: $flow-element-background-color;
    width: 95%;
}

.CollapsedTitle
{    
    background-color: $flow-element-background-color;
    border:none;
    color: $elements-title-font-color;
    font-size: $common-font-size;
    font-weight: bold;
    float:left;
}