.FullUserInput {
  border-color: var(--user-input-border-color);
  background-color: var(--flow-element-background-color);
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  padding: 12px 22px 12px 22px;
  overflow: hidden;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  margin: var(--small-margin);
}

.UserInputTitle {
  background-color: var(--flow-element-background-color);
  border: none;
  color: var(--elements-title-font-color);
  font-weight: bold;
  float: left;
  font-family: var(--gxcf-font-family);
}

.UserInputCommandsPosition {
  float: right;
}

.DataType {
  color: var(--elements-header-font-color);
  clear: both;
  margin-top: 5px;
  font-family: var(--gxcf-font-family);
}

.SwitchIconOn {
  content: var(--switch-icon-on);
  vertical-align: bottom;
}

.SwitchIconOff {
  content: var(--switch-icon-off);
  vertical-align: bottom;
}

.TextMode {
  color: var(--user-input-guides);
  margin-left: 5px;
}

.UserInputPart {
  margin-top: 15px;
  outline: none;
}

.UserInputPart::-webkit-details-marker {
  display: none;
}

.UserInputPart::before {
  content: var(--switch-userinputpart-off);
  color: transparent;
  padding: 4px;
}

details[open] .UserInputPart::before {
  content: var(--switch-userinputpart-on);
  color: transparent;
  padding: 4px;
}

.UserInputPartSummaryText {
  vertical-align: top;
  font-size: var(--small2-font-size);
  color: var(--elements-header-font-color);
  font-family: var(--gxcf-font-family);
}

.UserInputHints {
  vertical-align: top;
  float: right;
}

.ContainerForUserInput {
  margin-top: 20px;
  clear: both;
  line-height: 24px;
}

.UserInputLine {
  border: none;
  height: 24px;
  width: 100%;
  background-color: var(--add-element-background-color);
  font-family: var(--gxcf-font-family);
}

.SelectVP {
  cursor: pointer;
}
