.FullUserInput {
  border-color: var(--gray-01);
  background-color: var(--gray-01);
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  padding: 12px 22px 12px 22px;
  -webkit-animation: var(--animation-time);
  animation: var(--animation-time);
  margin: var(--small-margin);
}

.UserInputTitle {
  background-color: var(--gray-01);
  border: none;
  float: left;
}

.UserInputTitle:hover{
  cursor: pointer;
}

.Entity{
  clear:both;
}

.UserInputCommandsPosition {
  float: right;
  cursor: pointer;
}

.UserInputPart {
  margin-top: 15px;
  outline: none;
}

.UserInputPart::-webkit-details-marker {
  display: none;
}

.UserInputPart::before {
  content: var(--switch-userinputpart-off);
  color: transparent;
  padding: 4px;
}

details[open] .UserInputPart::before {
  content: var(--switch-userinputpart-on);
  color: transparent;
  padding: 4px;
}

.UserInputPartSummaryText {
  vertical-align: top;
}

.UserInputHints {
  vertical-align: top;
  float: right;
}

.ContainerForUserInput {
  margin-top: 20px;
  clear: both;
  line-height: 24px;
}

.UserInputLine {
  border: none;
  height: 24px;
  width: 100%;
  background-color: var(--color-background);
}

.SelectVP {
  cursor: pointer;
}

.CleanContextToggle
{
  margin-top: var(--small-margin);
}

.EntityInput{
  background-color: var(--gray-01);
  border: none;
  margin-bottom: 5px;
}